* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    flex-direction: column;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #d32f2f;
}

h2 {
    font-size: 2.5em;
    color: #d32f2f;
    padding-top: 3em;
}

.message {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 2;
    text-align: left;
    padding: 0 15px;
    max-width: 600px;
}

.buttons {
    margin-top: 20px;
}

button {
  color: #fff;
  padding: 15px 40px 15px 40px;
  margin: 10px;
  font-size: 1.5em;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border: 0;
  box-shadow: 0px 5px #555, 0px -5px #555, 5px 0px #555, -5px 0px #555, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
  cursor: pointer;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 5px #555, 0px -5px #555, 5px 0px #555, -5px 0px #555, inset 0px 5px #00000038;
}

.blow-button {
    background-color: #4caf50;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kiss-button {
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 60px;
    border: 3px solid #d32f2f7a;
    background-color: transparent;
    color: #d32f2f;
    box-shadow: none;
}
.kiss-button:hover {
    background-color: #d32f2f7a;
    color: white;
}